# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright 2021 Erez Geva
#
# @author Erez Geva <ErezGeva2@@gmail.com>
# @copyright 2021 Erez Geva
#
###############################################################################
/mngIds.h
/callDef.h
/verDef.h
/vecDef.h
/cnvFunc.h
*.o
*.lo
*.d
*.so
.sw?
.*.sw?
/.libs/
/libptpmgmt*.a
/pmc
/tags
/doc
*/PtpMgmtLib.cpp
