# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright 2021 Erez Geva
#
# @author Erez Geva <ErezGeva2@@gmail.com>
# @copyright 2021 Erez Geva
#
###############################################################################
/mngIds.h
/verDef.h
*.o
*.lo
*.d
*.so
.*.swp
/.libs/
/libpmc.a
/pmc
/tags
/doc
# For codeblocks
/libpmc.depend
/libpmc.layout
