# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright 2021 Erez Geva
#
# @author Erez Geva <ErezGeva2@@gmail.com>
# @copyright 2021 Erez Geva
#
###############################################################################
*.o
*.d
/objs/
*.so
/libptpmgmt*.a
/libptpmgmt*.so.*
/tools/pmc
/tags
/doc
*/PtpMgmtLib.cpp
/autom4te.cache/
/config.log
/config.status
/configure
/defs.mk
/utest/utest*
.phpunit.result.cache
.sw?
.*.sw?
