# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright © 2024 Intel Corporation.
#
# @author Christopher Hall <christopher.s.hall@intel.com>
# @copyright © 2024 Intel Corporation.
#
###############################################################################
/sample/clkmgr_test
/sample/clkmgr_c_test
/proxy/clkmgr_proxy
/*/*.lo
/doc/
/utest/utest_*
/pub/clkmgr/types*.h
