# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright © 2021 Erez Geva <ErezGeva2@gmail.com>
#
# @author Erez Geva <ErezGeva2@@gmail.com>
# @copyright © 2021 Erez Geva
#
###############################################################################
/files
/*.substvars
/.*debhelper*
/*debhelper*
/libptpmgmt*/
/tmp/
/*-ptpmgmt/
/autoreconf.*
/pkgs/
