Source: libpmc
Maintainer: Erez Geva <ErezGeva2@gmail.com>
Section: net
Priority: optional
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 9), dh-exec (>=0.3)
Build-Depends-Arch: dh-python, dh-lua, dh-php, libtool, coreutils,
	            swig (>=3.0), perl:native, lua5.2, liblua5.1-0-dev,
		    liblua5.2-dev, liblua5.3-dev, libpython-dev,
		    python-dev:native, python3-dev:native, libpython3-dev,
		    ruby:native, ruby-dev, php-dev
Build-Depends-Indep: graphviz, doxygen
Homepage: https://sf.net/p/libpmc

Package: libpmc
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: linuxptp
Description: pmc library, to communicate with ptp4l

Package: libpmc-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: g++, ${misc:Depends}, libpmc (= ${binary:Version})
Description: pmc library development
 This package provides header files and static library.

Package: libpmc-doc
Architecture: all
Section: libs
Depends: libpmc (= ${binary:Version})
Description: pmc library documentation, to communicate with ptp4l

Package: libpmc-perl
Architecture: any
Multi-Arch: same
Section: perl
Provides: ${perl:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${perl:Depends},
	 libpmc (= ${binary:Version})
Description: pmc library Perl wrapper

Package: python-pmc
Architecture: any
Multi-Arch: same
Section: python
Provides: ${python:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends},
	 libpmc (= ${binary:Version})
Description: pmc library python version 2 wrapper

Package: python3-pmc
Architecture: any
Multi-Arch: same
Section: python
Provides: ${python3:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python3:Depends},
	 libpmc (= ${binary:Version})
Description: pmc library python version 3 wrapper

Package: lua-pmc
Architecture: any
Multi-Arch: same
Section: interpreters
Provides: ${lua:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, libpmc (= ${binary:Version})
Description: pmc library Lua wrapper

Package: ruby-pmc
Architecture: any
Multi-Arch: same
Section: ruby
Provides: ${ruby:Provides}
Depends: ruby | ruby-interpreter, ${misc:Depends}, ${shlibs:Depends},
	 ${ruby:Depends}, libpmc (= ${binary:Version})
Description: pmc library ruby wrapper

Package: php-pmc
Section: php
Architecture: any
Pre-Depends: php-common (>= 2:69)
Provides: ${php:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${php:Depends},
	 libpmc (= ${binary:Version})
Description: pmc library php wrapper

Package: pmc
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, libpmc (= ${binary:Version})
Recommends: linuxptp
Description: pmc tool.
 new rewrite of linuxptp pmc tool using the libpmc library.
 This tool is faster than the original linuxptp tool.
