Source: libptpmgmt
Maintainer: Erez Geva <ErezGeva2@gmail.com>
Section: net
Priority: optional
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 9), libtool, texlive-font-utils, dh-python,
		    dh-lua, dh-php, dh-golang, golang-src, dh-runit, pandoc
Build-Depends-Arch: perl:native, lua5.2, lua5.3, lua5.4,
		    liblua5.2-dev, liblua5.3-dev, liblua5.4-dev, pkgconf,
		    python3-dev:native, libpython3-dev, php-dev, tcl-dev (>=8.0),
		    ruby:native, ruby-dev,
		    libssl-dev, libgcrypt20-dev, libgnutls28-dev, nettle-dev,
		    librtpi-dev
Build-Depends-Indep: graphviz, doxygen (>=1.8), dh-exec (>=0.3),
		     swig (>=4.1), coreutils, m4, gawk, autoconf, automake,
		     chrpath | patchelf
Homepage: https://libptpmgmt.nwtime.org
Vcs-Browser: https://github.com/erezgeva/libptpmgmt
Vcs-Git: https://github.com/erezgeva/libptpmgmt.git

Package: libptpmgmt
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: linuxptp
Description: PTP management library, to communicate with ptp4l

Package: libptpmgmt-openssl
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libptpmgmt (= ${binary:Version})
Recommends: linuxptp
Description: PTP management library HMAC plugin using the openssl library

Package: libptpmgmt-gcrypt
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libptpmgmt (= ${binary:Version})
Recommends: linuxptp
Description: PTP management library HMAC plugin using the LGPG crypt library

Package: libptpmgmt-gnutls
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libptpmgmt (= ${binary:Version})
Recommends: linuxptp
Description: PTP management library HMAC plugin using the gnutls library

Package: libptpmgmt-nettle
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libptpmgmt (= ${binary:Version})
Recommends: linuxptp
Description: PTP management library HMAC plugin using the nettle library

Package: libptpmgmt-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Provides: libclkmgr-dev
Pre-Depends: ${misc:Pre-Depends}
Depends: g++, ${misc:Depends}, libptpmgmt (= ${binary:Version}), libclkmgr (= ${binary:Version})
Description: PTP management library development
 This package provides header files and static library.
 For both libraries.

Package: libptpmgmt-doc
Architecture: all
Section: doc
Provides: libclkmgr-doc
Pre-Depends: ${misc:Pre-Depends}
Description: PTP management library documentation, to communicate with ptp4l
 This package provides project documentation.
 For both libraries.

Package: libptpmgmt-perl
Architecture: any
Multi-Arch: same
Section: perl
Pre-Depends: ${misc:Pre-Depends}
Provides: ${perl:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${perl:Depends},
	 libptpmgmt (= ${binary:Version})
Description: PTP management library Perl wrapper

Package: python3-ptpmgmt
Architecture: any
Multi-Arch: same
Section: python
Pre-Depends: ${misc:Pre-Depends}
Provides: ${python3:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python3:Depends},
	 libptpmgmt (= ${binary:Version})
Description: PTP management library python version 3 wrapper

Package: lua-ptpmgmt
Architecture: any
Multi-Arch: same
Section: interpreters
Pre-Depends: ${misc:Pre-Depends}
Provides: ${lua:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, libptpmgmt (= ${binary:Version})
XB-Lua-Versions: ${lua:Versions}
Description: PTP management library Lua wrapper

Package: ruby-ptpmgmt
Architecture: any
Multi-Arch: same
Section: ruby
Pre-Depends: ${misc:Pre-Depends}
Provides: ${ruby:Provides}
Depends: ruby | ruby-interpreter, ${misc:Depends}, ${shlibs:Depends},
	 ${ruby:Depends}, libptpmgmt (= ${binary:Version})
Description: PTP management library ruby wrapper

Package: php-ptpmgmt
Architecture: any
Section: php
Pre-Depends: php-common (>= 2:69), ${misc:Pre-Depends}
Provides: ${php:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${php:Depends},
	 libptpmgmt (= ${binary:Version})
Description: PTP management library php wrapper

Package: tcl-ptpmgmt
Architecture: any
Multi-Arch: same
Section: interpreters
Pre-Depends: ${misc:Pre-Depends}
Provides: ${tcl:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${tcl:Depends}, tcl,
	 libptpmgmt (= ${binary:Version})
Description: PTP management library tcl wrapper

Package: golang-ptpmgmt
Architecture: all
Section: libdevel
Pre-Depends: ${misc:Pre-Depends}
Provides: golang-clkmgr, ${golang:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${golang:Depends}, golang,
	 libptpmgmt-dev (= ${binary:Version})
Description: PTP management library golang development wrapper
 This package provides GO source code for both libraries.

Package: pmc-ptpmgmt
Architecture: any
Section: utils
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, libptpmgmt (= ${binary:Version})
Recommends: linuxptp
Description: pmc tool.
 new rewrite of LinuxPTP pmc tool using the PTP management library.
 This tool is faster than the original linuxptp tool.

Package: phc-ctl-ptpmgmt
Architecture: all
Section: utils
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, python3-ptpmgmt (= ${binary:Version})
Recommends: linuxptp
Description: phc-ctl tool.
 new rewrite of LinuxPTP phc_ctl tool using the PTP management library.

Package: clkmgr-proxy
Architecture: any
Section: utils
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, libptpmgmt (= ${binary:Version})
Recommends: linuxptp
Description: Clock Manager proxy service.
 framework for controlling and monitoring network time synchronization
 on the local platform.

Package: clkmgr-proxy-run
Architecture: all
Depends: clkmgr-proxy, ${misc:Depends}
Description: Clock Manager proxy service. (Runit integration)
 framework for controlling and monitoring network time synchronization
 on the local platform.
 .
 This package contains scripts to run clkmgr-proxy under Runit
 supervision system.

Package: libclkmgr
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, clkmgr-proxy (= ${binary:Version})
Recommends: linuxptp
Description: Clock Manager library
 framework for controlling and monitoring network time synchronization
 on the local platform.

Package: libclkmgr-perl
Architecture: any
Multi-Arch: same
Section: perl
Pre-Depends: ${misc:Pre-Depends}
Provides: ${perl:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${perl:Depends},
	 libclkmgr (= ${binary:Version})
Description: Clock Manager library Perl wrapper

Package: python3-clkmgr
Architecture: any
Multi-Arch: same
Section: python
Pre-Depends: ${misc:Pre-Depends}
Provides: ${python3:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python3:Depends},
	 libclkmgr (= ${binary:Version})
Description: Clock Manager library python version 3 wrapper

Package: lua-clkmgr
Architecture: any
Multi-Arch: same
Section: interpreters
Pre-Depends: ${misc:Pre-Depends}
Provides: ${lua:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, libclkmgr (= ${binary:Version})
XB-Lua-Versions: ${lua:Versions}
Description: Clock Manager library Lua wrapper

Package: ruby-clkmgr
Architecture: any
Multi-Arch: same
Section: ruby
Pre-Depends: ${misc:Pre-Depends}
Provides: ${ruby:Provides}
Depends: ruby | ruby-interpreter, ${misc:Depends}, ${shlibs:Depends},
	 ${ruby:Depends}, libclkmgr (= ${binary:Version})
Description: Clock Manager library ruby wrapper

Package: php-clkmgr
Architecture: any
Section: php
Pre-Depends: php-common (>= 2:69), ${misc:Pre-Depends}
Provides: ${php:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${php:Depends},
	 libclkmgr (= ${binary:Version})
Description: Clock Manager library php wrapper

Package: tcl-clkmgr
Architecture: any
Multi-Arch: same
Section: interpreters
Pre-Depends: ${misc:Pre-Depends}
Provides: ${tcl:Provides}
Depends: ${misc:Depends}, ${shlibs:Depends}, ${tcl:Depends}, tcl,
	 libclkmgr (= ${binary:Version})
Description: Clock Manager library tcl wrapper
