#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-3.0-or-later

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# dh_* command outputs which commands it is executing
#export DH_OPTIONS=-v

# Take version from changelog file
SONAME:=$(firstword $(subst ., ,$(shell\
          dpkg-parsechangelog --show-field Version)))
export SONAME
# For speed optimization
export CPPFLAGS_OPT=-Ofast

# Make linker verbose
#LDFLAGS+=-Wl,--verbose
#export LDFLAGS

# build pmc tool with libpmc.so
export PMC_USE_LIB=so

ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
# Handle cross compiling
ifeq ($(DEB_HOST_GNU_TYPE),i686-linux-gnu) # package architecture
ifeq ($(DEB_BUILD_GNU_TYPE),x86_64-linux-gnu) # build machine architecture
# Compiling 32 bits on amd64 is by using a flag
CPPFLAGS+=-m32
LDFLAGS+=-m32
export CPPFLAGS LDFLAGS
USE_NATIVE_STRIP=1
endif # x86_64
else
# Use cross compiler tool
CXX:=$(DEB_HOST_MULTIARCH)-g++
export CXX
endif # i686
endif # cross compiling

%:
	$(Q)dh $@ --parallel

deb_clean:
	$Q$(RM) -R $(foreach n,$(shell dh_listpackages) files tmp\
	*debhelper* .*debhelper* *.substvars, debian/$(n))

override_dh_auto_clean:
	$Q$(MAKE) distclean

ifneq ($(USE_NATIVE_STRIP),)
# prevent using cross tool for strip
override_dh_strip:
	$(Q)DEB_HOST_GNU_TYPE=$(DEB_BUILD_GNU_TYPE) dh_strip
endif

DSRC:=debian/tmp/usr/
# Make create all targets, we just move them from temporary to proper package
override_dh_install:
	$(Q)install -d $(foreach d,python-pmc/usr/lib python3-pmc/usr/lib\
	  libpmc-dev/usr libpmc-dev/usr/share libpmc-doc/usr pmc/usr\
	  $(foreach n,lua-pmc libpmc-perl libpmc-dev ruby-pmc\
	  libpmc,$n/usr/lib/$(DEB_HOST_MULTIARCH)),debian/$d)
	$(Q)mv $(DSRC)include debian/libpmc-dev/usr
	$(Q)mv $(DSRC)share/libpmc-dev debian/libpmc-dev/usr/share
	$(Q)mv $(DSRC)share debian/libpmc-doc/usr
	$(Q)mv $(DSRC)sbin debian/pmc/usr
	$(Q)mv $(DSRC)lib/python2* debian/python-pmc/usr/lib
ifneq ($(wildcard $(DSRC)lib/python3*),)
	$(Q)mv $(DSRC)lib/python3 debian/python3-pmc/usr/lib
endif
	$(Q)mv $(DSRC)lib/$(DEB_HOST_MULTIARCH)/lua*\
	  $(DSRC)lib/$(DEB_HOST_MULTIARCH)/liblua*\
	  debian/lua-pmc/usr/lib/$(DEB_HOST_MULTIARCH)
	$(Q)mv $(DSRC)lib/$(DEB_HOST_MULTIARCH)/perl*\
	  debian/libpmc-perl/usr/lib/$(DEB_HOST_MULTIARCH)
	$(Q)mv $(DSRC)lib/$(DEB_HOST_MULTIARCH)/ruby*\
	  debian/ruby-pmc/usr/lib/$(DEB_HOST_MULTIARCH)
	$(Q)mv $(DSRC)lib/$(DEB_HOST_MULTIARCH)/*.a\
	  $(DSRC)lib/$(DEB_HOST_MULTIARCH)/*.so\
	  debian/libpmc-dev/usr/lib/$(DEB_HOST_MULTIARCH)
	$(Q)mv $(DSRC)lib/$(DEB_HOST_MULTIARCH)/*\
	  debian/libpmc/usr/lib/$(DEB_HOST_MULTIARCH)
