#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-3.0-or-later

# Makefile to create Debian packages
#
# @author Erez Geva <ErezGeva2@@gmail.com>
# @copyright 2021 Erez Geva
# @copyright GNU General Public License 3.0 or later

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# dh_* command outputs which commands it is executing
#export DH_OPTIONS=-v

export LD_SONAME=do
# For speed optimization
export CPPFLAGS_OPT=-Ofast

# Make linker verbose
#LDFLAGS+=-Wl,--verbose
#export LDFLAGS

# build pmc tool with libpmc.so
export PMC_USE_LIB=so

%:
	$(Q)dh $@ --parallel

deb_clean:
	$Q$(RM) -R $(foreach n,$(shell dh_listpackages) files tmp\
	*debhelper* .*debhelper* *.substvars, debian/$(n))

override_dh_auto_clean:
	$Q$(MAKE) distclean

DSRC:=debian/tmp/usr/
# Make create all targets, we just move them from temporary to proper package
override_dh_install:
	$(Q)install -d $(foreach d,python-pmc/usr/lib python3-pmc/usr/lib\
	  libpmc-dev/usr libpmc-dev/usr/share libpmc-doc/usr/share\
	  pmc/usr/share/man/man8 php-pmc/usr/lib php-pmc/usr/share\
	  $(foreach n,lua-pmc libpmc-perl libpmc-dev ruby-pmc\
	  libpmc,$n/usr/lib/$(DEB_HOST_MULTIARCH)),debian/$d)
	$(Q)mv $(DSRC)include debian/libpmc-dev/usr
	$(Q)mv $(DSRC)share/libpmc-dev debian/libpmc-dev/usr/share
	$(Q)mv $(DSRC)share/doc debian/libpmc-doc/usr/share
	$(Q)ln -fs pmc.8.gz\
	  debian/pmc/usr/share/man/man8/$(notdir $(wildcard $(DSRC)sbin/*)).8.gz
	$(Q)mv $(DSRC)sbin debian/pmc/usr
	$(Q)mv $(DSRC)lib/python2* debian/python-pmc/usr/lib
	$(Q)mv $(DSRC)lib/python3 debian/python3-pmc/usr/lib
	$(Q)mv $(DSRC)lib/$(DEB_HOST_MULTIARCH)/lua*\
	  $(DSRC)lib/$(DEB_HOST_MULTIARCH)/liblua*\
	  debian/lua-pmc/usr/lib/$(DEB_HOST_MULTIARCH)
	$(Q)mv $(DSRC)lib/$(DEB_HOST_MULTIARCH)/perl*\
	  debian/libpmc-perl/usr/lib/$(DEB_HOST_MULTIARCH)
	$(Q)mv $(DSRC)lib/$(DEB_HOST_MULTIARCH)/ruby*\
	  debian/ruby-pmc/usr/lib/$(DEB_HOST_MULTIARCH)
	$(Q)mv $(DSRC)lib/php debian/php-pmc/usr/lib
	$(Q)mv $(DSRC)share/php debian/php-pmc/usr/share
	$(Q)mv $(DSRC)lib/$(DEB_HOST_MULTIARCH)/*.a\
	  $(DSRC)lib/$(DEB_HOST_MULTIARCH)/*.so\
	  debian/libpmc-dev/usr/lib/$(DEB_HOST_MULTIARCH)
	$(Q)mv $(DSRC)lib/$(DEB_HOST_MULTIARCH)/*\
	  debian/libpmc/usr/lib/$(DEB_HOST_MULTIARCH)
