#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-3.0-or-later

PERL_VER:=$(shell perl -e '$$_=$$^V;s/^v//;print')
ALL_PKGS:=$(shell dh_listpackages)

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# dh_* command outputs which commands it is executing
#export DH_OPTIONS=-v

# Take version from changelog file
LIB_VER:=$(shell dpkg-parsechangelog --show-field Version)
SONAME:=libpmc.so.$(firstword $(subst ., ,$(LIB_VER)))
LIBNAME:=libpmc.so.$(LIB_VER)

export LDFLAGS_SO=-Wl,--version-script,debian/lib.ver\
                  -Wl,-soname,$(SONAME)

# Make linker verbose
#LDFLAGS+=-Wl,--verbose
#export LDFLAGS

# build pmc tool with libpmc.so
export PMC_USE_LIB=so

ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
# Handle cross compiling
ifeq ($(DEB_HOST_GNU_TYPE),i686-linux-gnu) # package architecture
ifeq ($(DEB_BUILD_GNU_TYPE),x86_64-linux-gnu) # build machine architecture
# Compiling 32 bits on amd64 is by using a flag
CPPFLAGS+=-m32
LDFLAGS+=-m32
export CPPFLAGS LDFLAGS
USE_NATIVE_STRIP=1
endif # x86_64
else
# Use cross compiler tool
CXX:=$(DEB_HOST_MULTIARCH)-g++
export CXX
endif # i686
endif # cross compiling

%:
	@dh $@ --parallel

deb_clean:
	$(RM) -R $(foreach n,$(ALL_PKGS) files\
	*debhelper* .*debhelper* *.substvars, debian/$(n))

override_dh_auto_clean:
	@$(MAKE) distclean

ifneq ($(USE_NATIVE_STRIP),)
# prevent using cross tool for strip
override_dh_strip:
	@DEB_HOST_GNU_TYPE=$(DEB_BUILD_GNU_TYPE) dh_strip
endif

PERLDIR:=debian/libpmc-perl/usr/lib/$(DEB_HOST_MULTIARCH)/perl5/$(PERL_VER)
PERLNAME:=PmcLib
DIRS:=$(foreach d,libpmc-dev/usr/lib/$(DEB_HOST_MULTIARCH)\
      libpmc-dev/usr/include/pmc libpmc-dev/usr/share/libpmc-dev,debian/$d)\
      $(PERLDIR)/auto/$(PERLNAME)

override_dh_install:
	@dh_install
	mkdir -p $(DIRS)
	install -D libpmc.so debian/libpmc/usr/lib/$(DEB_HOST_MULTIARCH)/$(LIBNAME)
	ln -fs $(LIBNAME) debian/libpmc/usr/lib/$(DEB_HOST_MULTIARCH)/$(SONAME)
	cp libpmc.a debian/libpmc-dev/usr/lib/$(DEB_HOST_MULTIARCH)
	cp `find -maxdepth 1 -type f -name '*.h'` debian/libpmc-dev/usr/include/pmc
	cp debian/*.mk debian/libpmc-dev/usr/share/libpmc-dev
	ln -fs $(SONAME) debian/libpmc-dev/usr/lib/$(DEB_HOST_MULTIARCH)/$(LIBNAME)
	install -D pmc debian/pmc/usr/sbin/pmc.lib
	install -m 644 perl/$(PERLNAME).so $(PERLDIR)/auto/$(PERLNAME)
	install -m 644 perl/$(PERLNAME).pm $(PERLDIR)
