# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright © 2023 Erez Geva <ErezGeva2@gmail.com>
#
# @author Erez Geva <ErezGeva2@@gmail.com>
# @copyright © 2023 Erez Geva
#
# GitHub Continuous Integration script
# - Main Continuous Integration
# - Build cross packages on Debian
# - Build packages install them in system and
#   test with linuxptp and clock simulated network
#   to verify proper installation
###############################################################################

name: continuous integration

# On evry push and Pull Request (PR)
on: [push, pull_request]

env:
  USER: builder

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        names: [deb.trixie, deb.bookworm, rpmbuild, pacmanbuild, portage]
      fail-fast: false
    container:
      image: ghcr.io/${{ github.repository_owner }}/${{ matrix.names }}:latest
    env:
      GITHUB_CONTAINER: ${{ matrix.names }}

    steps:

    - name: checkout repository
      uses: actions/checkout@v4

    - name: continuous integration
      run: |
        case "$GITHUB_CONTAINER" in
          deb.*)
            # Debian place the debian packages in the parent folder
            chown -R $USER:$USER ..
            ;;
          *)
            chown -R $USER:$USER .
            ;;
        esac
        su $USER -c tools/ci.sh

  cross:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        names: [deb.trixie, deb.bookworm]
      fail-fast: false
    container:
      image: ghcr.io/${{ github.repository_owner }}/${{ matrix.names }}:latest

    steps:

    - name: checkout repository
      uses: actions/checkout@v4

    - name: cross build
      run: |
        chown -R $USER:$USER ..
        su $USER -c tools/ci_cross.sh

  pkgs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        names: [deb.trixie, deb.bookworm, rpmbuild, pacmanbuild, portage]
      fail-fast: false
    container:
      image: ghcr.io/${{ github.repository_owner }}/${{ matrix.names }}:latest
    env:
      GITHUB_CONTAINER: ${{ matrix.names }}

    steps:

    - name: checkout linuxptp repository
      uses: actions/checkout@v4
      with:
        repository: nwtime/linuxptp
        path: linuxptp

    - name: checkout repository
      uses: actions/checkout@v4
      with:
        path: libptpmgmt

    - name: build packages and install them
      run: |
        chown -R $USER:$USER .
        su $USER -c libptpmgmt/tools/ci_build.sh

    - name: build linuxptp
      run: su $USER -c "make -C linuxptp"

    - name: test with linuxptp
      run: libptpmgmt/tools/ci_pkgs.sh
