# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright © 2023 Erez Geva <ErezGeva2@gmail.com>
#
# @author Erez Geva <ErezGeva2@@gmail.com>
# @copyright © 2023 Erez Geva
#
# GitHub Deploy Doxygen documents with GitHub Pages
# Deploy to: https://erezgeva.github.io/libptpmgmt/
###############################################################################

name: deploy doxygen documents

# Deploy after release a new version, or manually
on:
  workflow_dispatch:
  release:
    types: published

permissions:
  contents: read

# Allow only one concurrent deployment
concurrency:
  group: "pages"

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:

    - name: checkout repository
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: setup pages
      uses: actions/configure-pages@v5

    - name: build documents
      run: tools/ci_pages.sh

    - name: upload artifact
      uses: actions/upload-pages-artifact@v4

  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      pages: write
      id-token: write
    steps:

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
